<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{title}}</title>
  </head>

  <body>
    
  <div class="container">
    <h1>URL Shortner</h1>

    <form action="" method="POST" class="my-4">
      <label for="fullUrl">Url</label>
      <input placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col m-2"></label>
      <button  type="submit" class="btn btn-success">Shrink</button>
    </form>

    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Full Url</th>
          <th>Short Url</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>

      <!--
        <tr>
          <td><a href="https://pomodoro-tracker.com/">https://pomodoro-tracker.com/</a></td>
          <td><a href="/123456">/123456</a></td>
        </tr>
      -->

      <!-- Tag open -->
      <!-- Doubt2: Trying to understand why we opened and closed shorturls tag -->
      {{#shortUrls}}  
        <tr>
          <td><a href="{{fullUrl}}">{{fullUrl}}</a></td>
          <td><a href="/{{shortCode}}">/{{shortCode}}</a></td>
        </tr>
      {{/shortUrls}}
      <!-- Tag close -->

      </tbody>

    </table>
     <!-- <div>
       {{#shortUrls}}
        <p>{{fullUrl}}</p>
        <p>{{shortCode}}</p>
       {{/shortUrls}}
     </div> -->
  </div>
  </body>
</html>

